body {
	/* background: #2b2b2b; */
	background: #F2E1F2;
	/* background: url(computer_stream.png); */
	/* background: #aa99ff; */
	padding-top: 1%;
}

#title {
	font-family: 'Comfortaa', cursive;
}

#name {
	font-size: 3em;
	font-family: 'Comfortaa', cursive;
}

#about {
	font-size: 1.5em;
	font-family: 'Open Sans', sans-serif;
	text-align: justify;
}

#copyright {
	font-family: 'Comfortaa', cursive;
	text-align: center;
}

#logos {
	padding-top: 1%;
	padding-bottom: 1%;
}

#blender_images {
	padding: 1%;
}
